#main {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
}

#main > div:first-of-type {
  text-align: center;
}

#img-div {
  background: #fff;
}

#img-caption {
  text-align: center;
  padding: 20px 10px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}

#tribute-info {
  width: 50%;
  margin: auto;
}

#tribute-info ul {
  padding: 0;
}

p, h3 {
  text-align: center;
}